<div class="row" style="display: none;" id="box2">

    <div class="col-md-2 col-sm-12">
        <div class="list-group" id="list-tab" role="tablist">
        

        <a class="list-group-item list-group-item-action active" id="1" data-toggle="list" href="#list-home2" role="tab" aria-controls="home">Wörter</a>
        <a class="list-group-item list-group-item-action" id="2" data-toggle="list" href="#list-profile2" role="tab" aria-controls="profile">Videos</a>
        <a class="list-group-item list-group-item-action" id="3" data-toggle="list" href="#list-messages2" role="tab" aria-controls="messages">Experimente</a>
        <a class="list-group-item list-group-item-action" id="4" data-toggle="list" href="#list-blub2" role="tab" aria-controls="blub">Basteln</a>    
    </div>
    </div>
    <div class="col-md-10 col-sm-12">
        <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home2" role="tabpanel" aria-labelledby="1">
            <div class="card">
                <div class="card-body">
                        <h5 class="card-title">Wörter</h5>
                        <p class="float-left"></p>
                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                        <p>Box 2 oat cake chupa chups jelly beans dessert topping biscuit marzipan cookie. Cheesecake ice cream fruitcake wafer gummies dessert. Dessert pastry lemon drops cupcake gingerbread dragée dragée lemon drops pudding.

                            Powder candy canes marzipan brownie icing. Pudding liquorice donut bear claw jelly soufflé apple pie pastry. Donut brownie gummies tart.
                            
                            Jelly-o cookie topping pastry donut toffee danish. Tiramisu jelly danish bear claw pie wafer toffee carrot cake halvah. Jujubes topping dragée topping muffin oat cake dessert lemon drops.
                            
                            Chocolate cake gummies pudding biscuit croissant donut bonbon sesame snaps jelly. Gummies cake oat cake macaroon. Pudding wafer marshmallow cake jujubes muffin. Marshmallow tart biscuit.
                            
                            Sweet roll sweet gummi bears jelly macaroon chocolate. Bear claw wafer danish danish muffin oat cake. Carrot cake cotton candy toffee biscuit apple pie sugar plum chocolate bar cake. Candy canes marshmallow cake cotton candy ice cream tootsie roll sweet roll.
                        </p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="list-profile2" role="tabpanel" aria-labelledby="2">
            <div class="card">
                <div class="card-body">
                        <h5 class="card-title">Videos</h5>
                        <p class="float-left"></p>
                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                        <p>Cake oat cake chupa chups jelly beans dessert topping biscuit marzipan cookie. Cheesecake ice cream fruitcake wafer gummies dessert. Dessert pastry lemon drops cupcake gingerbread dragée dragée lemon drops pudding.

                            Powder candy canes marzipan brownie icing. Pudding liquorice donut bear claw jelly soufflé apple pie pastry. Donut brownie gummies tart.
                            
                            Jelly-o cookie topping pastry donut toffee danish. Tiramisu jelly danish bear claw pie wafer toffee carrot cake halvah. Jujubes topping dragée topping muffin oat cake dessert lemon drops.
                            
                            Chocolate cake gummies pudding biscuit croissant donut bonbon sesame snaps jelly. Gummies cake oat cake macaroon. Pudding wafer marshmallow cake jujubes muffin. Marshmallow tart biscuit.
                            
                            Sweet roll sweet gummi bears jelly macaroon chocolate. Bear claw wafer danish danish muffin oat cake. Carrot cake cotton candy toffee biscuit apple pie sugar plum chocolate bar cake. Candy canes marshmallow cake cotton candy ice cream tootsie roll sweet roll.
                        </p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="list-messages2" role="tabpanel" aria-labelledby="3">
            <div class="card">
                <div class="card-body">
                        <h5 class="card-title">Experimente</h5>
                        <p class="float-left"></p>
                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                        <p>Cake oat cake chupa chups jelly beans dessert topping biscuit marzipan cookie. Cheesecake ice cream fruitcake wafer gummies dessert. Dessert pastry lemon drops cupcake gingerbread dragée dragée lemon drops pudding.

                            Powder candy canes marzipan brownie icing. Pudding liquorice donut bear claw jelly soufflé apple pie pastry. Donut brownie gummies tart.
                            
                            Jelly-o cookie topping pastry donut toffee danish. Tiramisu jelly danish bear claw pie wafer toffee carrot cake halvah. Jujubes topping dragée topping muffin oat cake dessert lemon drops.
                            
                            Chocolate cake gummies pudding biscuit croissant donut bonbon sesame snaps jelly. Gummies cake oat cake macaroon. Pudding wafer marshmallow cake jujubes muffin. Marshmallow tart biscuit.
                            
                            Sweet roll sweet gummi bears jelly macaroon chocolate. Bear claw wafer danish danish muffin oat cake. Carrot cake cotton candy toffee biscuit apple pie sugar plum chocolate bar cake. Candy canes marshmallow cake cotton candy ice cream tootsie roll sweet roll.
                        </p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="list-blub2" role="tabpanel" aria-labelledby="4">
            <div class="card">
                <div class="card-body">
                        <h5 class="card-title">Basteln</h5>
                        <p class="float-left"></p>
                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                        <p>Cakeeee oat cake chupa chups jelly beans dessert topping biscuit marzipan cookie. Cheesecake ice cream fruitcake wafer gummies dessert. Dessert pastry lemon drops cupcake gingerbread dragée dragée lemon drops pudding.

                            Powder candy canes marzipan brownie icing. Pudding liquorice donut bear claw jelly soufflé apple pie pastry. Donut brownie gummies tart.
                            
                            Jelly-o cookie topping pastry donut toffee danish. Tiramisu jelly danish bear claw pie wafer toffee carrot cake halvah. Jujubes topping dragée topping muffin oat cake dessert lemon drops.
                            
                            Chocolate cake gummies pudding biscuit croissant donut bonbon sesame snaps jelly. Gummies cake oat cake macaroon. Pudding wafer marshmallow cake jujubes muffin. Marshmallow tart biscuit.
                            
                            Sweet roll sweet gummi bears jelly macaroon chocolate. Bear claw wafer danish danish muffin oat cake. Carrot cake cotton candy toffee biscuit apple pie sugar plum chocolate bar cake. Candy canes marshmallow cake cotton candy ice cream tootsie roll sweet roll.
                        </p>
                </div>
            </div>
        </div>
        
        </div>
    </div>
    </div>