<div class="row" style="display: none;" id="box3">

    <div class="col-md-2 col-sm-12">
        <div class="list-group" id="list-tab" role="tablist">
        

        <a class="list-group-item list-group-item-action active" id="2" data-toggle="list" href="#list-profile3" role="tab" aria-controls="profile">Laufzettel</a>
        <a class="list-group-item list-group-item-action" id="3" data-toggle="list" href="#list-messages3" role="tab" aria-controls="messages">Rätsel</a>
        <a class="list-group-item list-group-item-action" id="5" data-toggle="list" href="#list-memory3" role="tab" aria-controls="memory">Memory</a>
        <a class="list-group-item list-group-item-action" id="4" data-toggle="list" href="#list-mat3" role="tab" aria-controls="mat">Materialliste</a>
        <a class="list-group-item list-group-item-action" id="1" data-toggle="list" href="#list-home3" role="tab" aria-controls="home">Wörter</a>
    </div>
    </div>
    <div class="col-md-10 col-sm-12">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-profile3" role="tabpanel" aria-labelledby="2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Laufzettel</h5>
                            
                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                        <object data="box3.pdf" width="875" height="1000">
                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                            <p><a href="box3.pdf">Laufzettel stattdessen herunterladen</a></p>
                        </object>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-messages3" role="tabpanel" aria-labelledby="3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Rätsel</h5>
                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                        <object data="Suchsel_Lernbox_3.pdf" width="875" height="1000">
                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                            <p><a href="Suchsel_Lernbox_3.pdf">Rätsel stattdessen herunterladen</a></p>
                        </object>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-memory3" role="tabpanel" aria-labelledby="3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Memory</h5>
                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                        <object data="Memory.pdf" width="875" height="1000">
                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                            <p><a href="Memory.pdf">Memory stattdessen herunterladen</a></p>
                        </object>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade " id="list-mat3" role="tabpanel" aria-labelledby="3">
                <div class="card">
                    <div class="card-body">
                            <h5 class="card-title">Rätsel</h5>
                            <img class="img-responsive rounded mx-auto d-block middle" src="">
                            <object data="Materialliste.pdf" width="875" height="1000">
                                <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                <p><a href="Materialliste.pdf">Materialliste stattdessen herunterladen</a></p>
                            </object>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-home3" role="tabpanel" aria-labelledby="1">
                <div class="card">
                    <div class="card-body">
                        <% include box1words.ejs %>
                    </div>
                </div>
            </div>
            </div>
        
        </div>
    </div>
    </div>