<% include ../partials/header.ejs %>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1 style="text-align: center">Füge einen Kommentar zu <%= challenge.name %> hinzu</h1>
            <div style="width: 30%; margin: 25px auto;">
                <form action="/challenges/<%= challenge._id %>/comments" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="comment[text]" placeholder="text">
                    </div>
                    <div class="form-group invisible">
                        <input class="form-control" type="text" name="comment[time]" readonly value=<%= Date.now() %> >
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Kommentieren</button>
                    </div>
                </form>
                <a href="/challenges">Go Back</a>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs %>
