<% include partials/header.ejs %>

<h1>Kontaktiert uns</h1>

<div class="jumbotron">
        <iframe class="iframe" width="700" height="400"
        src="../views/contactform/index.html">
      </iframe> 
    </div>
  </div>

<% include partials/footer %>