<% include partials/header.ejs %>

    <div class="container">
        <div class="row">
            <div class="jumbotron col-xl-12">
                <div class="container">
                    <h1 class="hl-after text-center">Engagieren Sie sich</h1>
                    <div class="row text-left" style="display: flex; flex-wrap: wrap">
                            <div class="col-md-9 col-sm-12" style="display:flex; flex-wrap: wrap">
                                    
                                    <h6> 
                                        <p>
                                            <strong>Wir finanzieren uns ausschließlich über Fördergelder. Unterstützen Sie uns als Ehrenamtliche Lehrkraft oder mit einer Spende.</strong>
                                        </p>    
                                        <p>   
                                            Das sagen unsere Lehrkräfte über ihre Arbeit:
                                        </p>
                                        
                                        <strong>Wir suchen immer wieder engagierte Menschen, die Freude daran oder es sich vorstellen können, Flüchtlingsklassen zu unterrichten. Die Arbeit im Projekt bietet viele Chancen:</strong>
                                        </p>
                                        
                                        <p>
                                            <ul class="list-group">
                                                <li class="list-group-item">Begeistern Sie Jugendliche durch ihr Engagement für MINT</li>
                                                <li class="list-group-item">Erfahren Sie die Dankbarkeit der Schüler, wenn wir sie in den Klassen besuchen</li>
                                                <li class="list-group-item">Sammeln Sie erste Erfahrungen im Unterrichten unabhängig von Bewertungen. Dadurch, dass Sie mindestens zu zweit unterrichten, können Sie mit Feedback und Unterstützung rechnen.</li>
                                                <li class="list-group-item">Nutzen Sie die Möglichkeit MINTegration mit eigenen Inhalten und Ideen zu bereichern</li>
                                                <li class="list-group-item">Lernen Sie in Workshops neue Methoden und Tools kennen, die Sie später für Ihren Unterricht verwenden können</li>
                                                <li class="list-group-item">Wir honorieren Ihre Unterstützung mit einer Aufwandsentschädigung von 10€/h</li>
                                            </ul>
                                        </p>
                                        <p>
                                            <strong>**Was sollte mitgebracht werden?: **</strong>
                                        </p>
                                        <p>
                                            <ul class="list-group">
                                                <li class="list-group-item">da Sie immer im Team unterrichten, erwarten wir Zuverlässigkeit und Verbindlichkeit</li>
                                                <li class="list-group-item">keine Scheu vor Sprachbarrieren</li>
                                                <li class="list-group-item">Bereitschaft mit Altersgruppen von 12 bis 20 Jahre aus unterschiedlichen Schulformen zu arbeiten (Sekundarschule, Gymnasium, Berufsschule)</li>
                                                <li class="list-group-item">Aktive und eigenständige Beteiligung an der Terminplanung und der Kommunikation im Team</li>
                                                <li class="list-group-item">Teilnahme an Teamtreffen (ca. alle 1-2 Monate)</li>
                                                <li class="list-group-item">Zeit, um an mehreren Tagen im Monat an Vormittagen zu unterrichten</li>
                                               
                                              </ul>
                                        </p>
                                    </h6>
                            </div>
                            
                            <div class="col-md-3 col-sm-12" style="display:flex; flex-wrap: wrap">
                                
                                <div class="img-thumbnail special-card">
                                    <img class="img-fluid resize_fit_center" style="vertical-align: middle;" alt="Responsive image" src="images/logo.png">
                                </div>
                                
                            </div>
                        
                    </div>
                    
                    

                </div>
            </div>

<% include partials/footer.ejs %>