<% include partials/header.ejs %>
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="jumbotron col-xl-12">
                    <h1 class="text-center hl-after"> Themen</h1>
                        <div class="row text-center" style="display: flex; flex-wrap: wrap"> 
                                <div class="col-md-4 col-sm-12" style="display:flex; flex-wrap: wrap">
                                    <div class="img-thumbnail" style="background-color: transparent; ">
                      
                                        <img class="img-fluid" alt="Responsive image" src ="https://images.unsplash.com/photo-1507034589631-9433cc6bc453?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=631&q=80">
                                        <a href="/halberstadt/sport"><h5 class="top_padded font-weight-bold" style="color: rgb(216, 38, 125);">Sport, Ernährung & Gesundheit</h5></a>
                                    </div>
                                </div>
                                
                                <div class="col-md-4 col-sm-12" style="display:flex; flex-wrap: wrap">
                                    <div class="img-thumbnail" style="background-color: transparent; ">
                                        
                                        <img class="img-fluid" alt="Responsive image" src ="https://images.unsplash.com/photo-1513836279014-a89f7a76ae86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">
                                        <a href="/halberstadt/vegetation"><h5 class="top_padded font-weight-bold" style="color: #575555;">Vegetation</h5></a>
                                    </div>
                                </div>
                    
                                <div class="col-md-4 col-sm-12" style="display:flex; flex-wrap: wrap">
                                    <div class="img-thumbnail" style="background-color: transparent; ">
                                        
                                        <img class="img-fluid" alt="Responsive image" src ="https://images.unsplash.com/photo-1584515890563-c40d0d490d84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">
                                        <a href="/halberstadt/hygiene"><h5 class="top_padded font-weight-bold" style="color: rgb(142, 190, 109);">Hygiene, Bakterien & Viren</h5></a>
                                    </div>
                                </div>
                                
                        </div>
                </div>
            </div>

<% include partials/footer.ejs %>