<% include partials/header.ejs %>
    <div class="container">
        <div class="row">
            <div class="container">
                
                <div class="jumbotron col-xl-12" style="padding-bottom: 1vh; padding-top: 4vh;">
                    <a id="goback" style="display: none; color: #575555;" href="/lernboxen/hygiene" class="font-weight-bold">zurück</a>
                    <h1 class="hl-afterboxes">Bakterien & Viren </h1>
                        <div class="row text-center" style="display: flex; flex-wrap: wrap"> 
                            <div class="col-md-4 col-sm-12" id="myboxparent1" style="display:flex; flex-wrap: wrap">
                                <div class="img-thumbnail" style="background-color: transparent; ">
                                    <a href="#"><h5 onclick="myFunction(this)" id="mybox1" class="top_padded font-weight-bold" style="color: #575555;">Lernbox 1</h5></a>
                                    <img class="img-fluid" alt="Responsive image" src ="https://images.unsplash.com/photo-1573376670774-4427757f7963?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80">
                                    
                                </div>
                            </div>
                            
                            <div class="col-md-4 col-sm-12" id="myboxparent2" style="display:flex; flex-wrap: wrap">
                                <div class="img-thumbnail" style="background-color: transparent; ">
                                    <a href="#"><h5 onclick="myFunction(this)" id="mybox2" class="top_padded font-weight-bold" style="color: #575555;">Lernbox 2</h5></a>
                                    <img class="img-fluid" alt="Responsive image" src ="https://images.unsplash.com/photo-1577702312706-e23ff063064f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                                    
                                </div>
                            </div>
                
                            <div class="col-md-4 col-sm-12" id="myboxparent3" style="display:flex; flex-wrap: wrap">
                                <div class="img-thumbnail" style="background-color: transparent; ">
                                    <a href="#"><h5 onclick="myFunction(this)" id="mybox3" class="top_padded font-weight-bold" style="color: #575555;">Lernbox 3</h5></a>
                                    <img class="img-fluid" alt="Responsive image" src ="https://images.unsplash.com/photo-1575833947349-69324d765146?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                                    
                                </div>
                            </div>
                            
                        </div>
                        <h3 id="navigator" style="padding-top: 3vh;"> Wähle eine Box</h3>
                </div>
            </div>
        </div>

        <h3 id="currentbox"></h3>
        <span id="displaybox"></span>
        <% include boxes_partials/box1.ejs %>
        <% include boxes_partials/box2.ejs %>
        <% include boxes_partials/box3.ejs %>

    </div>

    <script type=text/javascript>
        function myFunction(id) {
          console.log(id.id)
        //   document.getElementById("currentbox").innerHTML = id.innerHTML;
        //   var item = document.getElementById("currentbox").innerHTML;
          if (id.id === "mybox1") {
            // handle the box display content field
            var parent1 = document.getElementById("myboxparent2");
            var parent2 = document.getElementById("myboxparent3");
            parent1.style.display = "none";
            parent2.style.display = "none";

            var navigator = document.getElementById("navigator");
            navigator.style.display = "none";

            var goback = document.getElementById("goback");
            goback.style.display = "flex";

            // handle the box image atop
            var element = document.getElementById("box2");
            element.style.display = "none";

            var element = document.getElementById("box3");
            element.style.display = "none";

            var element = document.getElementById("box1");
            element.style.display = "flex";
            

            console.log(id.parentElement.parentElement.parentElement)

          }  else if (id.id === "mybox2") {
            // handle the box display content field
            var parent1 = document.getElementById("myboxparent1");
            var parent2 = document.getElementById("myboxparent3");
            parent1.style.display = "none";
            parent2.style.display = "none";

            var navigator = document.getElementById("navigator");
            navigator.style.display = "none";

            var goback = document.getElementById("goback");
            goback.style.display = "flex";

            // handle the box image atop

            var element = document.getElementById("box1");
            element.style.display = "none";

            var element = document.getElementById("box3");
            element.style.display = "none";

            var element = document.getElementById("box2");
            element.style.display = "flex";
            console.log(element)
          } else {
            // handle the box display content field
            var parent1 = document.getElementById("myboxparent2");
            var parent2 = document.getElementById("myboxparent1");
            parent1.style.display = "none";
            parent2.style.display = "none";

            var navigator = document.getElementById("navigator");
            navigator.style.display = "none";

            var goback = document.getElementById("goback");
            goback.style.display = "flex";

            // handle the box image atop

            var element = document.getElementById("box1");
            element.style.display = "none";

            var element = document.getElementById("box2");
            element.style.display = "none";

            var element = document.getElementById("box3");
            element.style.display = "flex";
          }  
        }

        async function transfunc(id) {
            console.log(id)
            var countryCode = id.innerText.slice(-2)
            var currentLang = id.innerText.slice(0, -5)
            document.getElementById("currentlang").innerHTML = currentLang
            var words = document.getElementsByClassName("wordtotrans")
            console.log(words)
            console.log(document.getElementsByClassName("wordistrans")[0])
            const current_word = await translate('Wörter', {from: 'de', to: countryCode, engine: 'google', key: 'AIzaSyAYtcXRk5TH586dLf3nrOOdAZ5VhNHvH3w'});
            console.log(current_word);
            document.getElementById("vocabtrans").innerHTML = current_word;
            for (i=0; i < words.length; i++) {
                const current_word = await translate(words[i].innerHTML, {from: 'de', to: countryCode, engine: 'google', key: 'AIzaSyAYtcXRk5TH586dLf3nrOOdAZ5VhNHvH3w'});
                console.log(current_word);
                document.getElementsByClassName("wordistrans")[i].innerHTML = current_word;
            }
          }  
    </script>

<% include partials/footer.ejs %>