<% include partials/header.ejs %>

    <div class="container">
        <div class="row">
            <div class="jumbotron col-xl-12">
                <div class="container">
                    
                    <div class="row text-left">
                            <div class="col-md-1 col-sm-1" style="display:flex; flex-wrap: wrap">
                                        
                            </div>    
                            <div class="col-md-10 col-sm-10">
                                <h1 class="hl-after text-center">Impressum</h1>
                                <h6>
                                <strong>Verein</strong><br>
                                Institut für MINT - und Umweltbildung Halle e.V.<br>
                                <a href="mailto:mintegration@biodidaktik.uni-halle.de">mintegration@biodidaktik.uni-halle.de</a><br>
                                Telefon: +49 (0)1573 1682893<br><br>

                                <strong>Registergericht:</strong><br>
                                Amtsgericht Stendal<br>
                                <strong>Vertretungsberechtigte und besondere Vertretungsbefugnis:</strong><br>

                                vertretungsberechtiger Vorstand:<br>
                                Prof.Dr. Lindner, Martin<br>
                                <a href="mailto:Martin.lindner@biodidaktik.uni-halle.de">Martin.lindner@biodidaktik.uni-halle.de</a><br>
                                Telefon: +49 (0)170 2445316<br><br>
                                
                                
                                <ol>
                                    <li/>
                                <p style="margin-bottom: 0.11in; line-height: 108%"><b>Haftungsbeschränkung</b><br/>
                                Die
                                    Inhalte dieser Website werden mit größtmöglicher Sorgfalt
                                    erstellt. Der Anbieter übernimmt jedoch keine Gewähr für die
                                    Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten
                                    Inhalte. Die Nutzung der Inhalte der Website erfolgt auf eigene
                                    Gefahr des Nutzers.<br/>
                                <br/>
                                Namentlich gekennzeichnete Beiträge
                                    geben die Meinung des jeweiligen Autors und nicht immer die Meinung
                                    des Anbieters wieder. Mit der reinen Nutzung der Website des
                                    Anbieters kommt keinerlei Vertragsverhältnis zwischen dem Nutzer
                                    und dem Anbieter zustande.</p>
                                    <li/>
                                <p style="margin-bottom: 0.11in; line-height: 108%"><b>Externe
                                    Links</b><br/>
                                Diese Website enthält Verknüpfungen zu Websites
                                    Dritter (&quot;externe Links&quot;). Diese Websites unterliegen der
                                    Haftung der jeweiligen Betreiber. Der Anbieter hat bei der
                                    erstmaligen Verknüpfung der externen Links die fremden Inhalte
                                    daraufhin überprüft, ob etwaige Rechtsverstöße bestehen. Zu dem
                                    Zeitpunkt waren keine Rechtsverstöße ersichtlich. Der Anbieter hat
                                    keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung und
                                    auf die Inhalte der verknüpften Seiten. Das Setzen von externen
                                    Links bedeutet nicht, dass sich der Anbieter die hinter dem Verweis
                                    oder Link liegenden Inhalte zu Eigen macht. Eine ständige Kontrolle
                                    der externen Links ist für den Anbieter ohne konkrete Hinweise auf
                                    Rechtsverstöße nicht zumutbar. Bei Kenntnis von Rechtsverstößen
                                    werden jedoch derartige externe Links unverzüglich gelöscht.</p>
                                    <li/>
                                <p style="margin-bottom: 0.11in; line-height: 108%"><b>Urheber-
                                    und Leistungsschutzrechte</b><br/>
                                Die auf dieser Website
                                    veröffentlichten Inhalte unterliegen dem deutschen Urheber- und
                                    Leistungsschutzrecht. Jede vom deutschen Urheber- und
                                    Leistungsschutzrecht nicht zugelassene Verwertung bedarf der
                                    vorherigen schriftlichen Zustimmung des Anbieters oder jeweiligen
                                    Rechteinhabers. Dies gilt insbesondere für Vervielfältigung,
                                    Bearbeitung, Übersetzung, Einspeicherung, Verarbeitung bzw.
                                    Wiedergabe von Inhalten in Datenbanken oder anderen elektronischen
                                    Medien und Systemen. Inhalte und Rechte Dritter sind dabei als
                                    solche gekennzeichnet. Die unerlaubte Vervielfältigung oder
                                    Weitergabe einzelner Inhalte oder kompletter Seiten ist nicht
                                    gestattet und strafbar. Die Herstellung von Kopien und Downloads für
                                    den persönlichen, privaten und nicht kommerziellen Gebrauch ist
                                    erlaubt. Ebenfalls erlaubt sind die zur Bearbeitung und
                                    Wiederverwendung gekennzeichneten Materialien im Bereich Downloads.
                                    Die Darstellung dieser Website in fremden Frames ist nur mit
                                    schriftlicher Erlaubnis zulässig.</p>
                                </ol>
                                <p style="margin-bottom: 0.11in; line-height: 108%"><br/>
                                <br/>
                                
                                </p>
                                <p style="margin-bottom: 0.11in; line-height: 108%"><font size="4" style="font-size: 14pt"><b>Datenschutzerklärung</b></font></p>
                                <p style="margin-bottom: 0.11in; line-height: 108%">Allgemeine
                                Hinweise</p>
                                <p style="margin-bottom: 0.11in; line-height: 108%"><br/>
                                <br/>
                                
                                </p>
                                <p style="margin-bottom: 0.11in; line-height: 108%">Nachfolgend
                                möchten wir Sie über die Art, den Umfang und die Zwecke der
                                Erhebung und Verwendung Ihrer personenbezogenen Daten auf unserer
                                Webseite informieren. Wir behandeln personenbezogene Daten gemäß
                                dieser Datenschutzerklärung und der gesetzlichen Vorschriften
                                grundsätzlich vertraulich. Den Schutz Ihrer persönlichen Daten
                                nehmen wir sehr ernst. Wenn Sie unsere Website benutzen, werden
                                verschiedene personenbezogene Daten erhoben. Personenbezogene Daten
                                sind Daten, mit denen Sie persönlich identifiziert werden können.
                                Die vorliegende Datenschutzerklärung erläutert, welche Daten wir
                                erheben und wofür wir diese nutzen. Sie erläutert auch, wie und zu
                                welchem Zweck das geschieht. Eine Datenübertragung im Internet kann
                                z.B. bei E-Mail-Kommunikation Sicherheitslücken aufweisen Wir
                                möchten Sie darauf hinweisen, dass ein lückenloser Schutz der Daten
                                vor dem Zugriff durch Dritte nicht möglich ist.</p>
                                <p style="margin-bottom: 0.11in; line-height: 108%"><br/>
                                <br/>
                                
                                </p>
                                <p style="margin-bottom: 0.11in; line-height: 108%"><font size="3" style="font-size: 12pt"><b>Datenerfassung
                                auf unserer Website</b></font></p>
                                <p style="margin-bottom: 0.11in; line-height: 108%"><i>Wer ist
                                verantwortlich für die Datenerfassung auf dieser Website?</i></p>
                                <p style="margin-bottom: 0in; line-height: 100%"><font face="Arial-BoldMT, serif"><font size="2" style="font-size: 10pt"><b>Verein:</b></font></font></p>
                                <p style="margin-bottom: 0in; line-height: 100%"><font face="ArialMT, serif"><font size="2" style="font-size: 10pt">Institut
                                für MINT - und Umweltbildung Halle e.V.</font></font></p>
                                <p style="margin-bottom: 0.11in; line-height: 108%">Adresse</p>
                                <p style="margin-bottom: 0.11in; line-height: 108%">Kontaktdaten</p>
                                <p style="margin-bottom: 0in; line-height: 100%"><font face="ArialMT, serif"><font size="2" style="font-size: 10pt">Prof.Dr.
                                Lindner, Martin</font></font></p>
                                <p style="margin-bottom: 0in; line-height: 100%"><font color="#0563c1"><u><a href="mailto:Martin.lindner@biodidaktik.uni-halle.de"><font face="ArialMT, serif"><font size="2" style="font-size: 10pt">Martin.lindner@biodidaktik.uni-halle.de</font></font></a></u></font></p>
                                <p style="margin-bottom: 0in; line-height: 100%"><font face="ArialMT, serif"><font size="2" style="font-size: 10pt">01702445316</font></font></p>
                                <p style="margin-bottom: 0.11in; line-height: 108%">Vorstand i. S. d.
                                § 26 BGB</p>
                                <p style="margin-bottom: 0in; line-height: 100%"><font face="ArialMT, serif"><font size="2" style="font-size: 10pt">Prof.Dr.
                                Lindner, Martin</font></font></p>
                                <p style="margin-bottom: 0in; line-height: 100%"><font color="#0563c1"><u><a href="mailto:Martin.lindner@biodidaktik.uni-halle.de"><font face="ArialMT, serif"><font size="2" style="font-size: 10pt">Martin.lindner@biodidaktik.uni-halle.de</font></font></a></u></font></p>
                                <p style="margin-bottom: 0in; line-height: 100%"><font face="ArialMT, serif"><font size="2" style="font-size: 10pt">01702445316</font></font></p>
                                <p style="margin-bottom: 0.11in; line-height: 108%"><br/>
                                <br/>
                                
                                </p>
                                <p style="margin-bottom: 0.11in; line-height: 108%">Name Hosting: 
                                </p>
                                <p style="margin-bottom: 0.11in; line-height: 108%">Unsere in
                                Anspruch genommenen Hosting-Leistungen, um den Betrieb der Homepage
                                sicherzustellen, umfassen folgende Leistungen:
                                Plattformdienstleistungen, Webspace, Datenbank, technische Wartung.</p>
                                <p style="margin-bottom: 0.11in; line-height: 108%"><br/>
                                <br/>
                                
                                </p>
                                <p style="margin-bottom: 0.11in; line-height: 108%">Welche Daten
                                werden erfasst und wie?</p>
                                <p style="margin-bottom: 0.11in; line-height: 108%">Server-Log-Dateien:
                                Der Provider der Seiten erhebt und speichert automatisch
                                Informationen in so genannten Server-Log-Dateien, die Ihr Browser
                                automatisch übermittelt. 
                                </p>
                                <p style="margin-bottom: 0.11in; line-height: 108%">Dies sind:</p>
                                <p style="margin-bottom: 0.11in; line-height: 108%"><a name="_GoBack"></a>
                                Browsertyp und Browserversion, verwendetes Betriebssystem, Referrer
                                URL, Hostname des zugreifenden Rechners, Uhrzeit der Serveranfrage,
                                IP-Adresse. Diese werden benötigt, um Angriffe, einen fehlerhaften
                                Code oder allgemeine Fehler zu identifizieren und werden nach vier
                                Wochen vom Webserver automatisch gelöscht. Eine Zusammenführung
                                dieser Daten mit anderen Datenquellen findet nicht statt. Grundlage
                                für die Datenverarbeitung ist Art. 6 Abs. 1, b DSGVO, der die
                                Verarbeitung von Daten zur Erfüllung eines Vertrags oder
                                vorvertraglicher Maßnahmen gestattet.</p>
                                <p style="margin-bottom: 0.11in; line-height: 108%"><b>Cookies</b>
                                <br/>
                                
                                </p>
                                <p style="margin-bottom: 0.11in; line-height: 108%">Die
                                Internetseiten verwenden so genannte Cookies. Cookies richten auf
                                Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies
                                dienen dazu, unser Angebot nutzerfreundlicher, effektiver und
                                sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem
                                Rechner abgelegt werden und die Ihr Browser speichert. Die meisten
                                der von uns verwendeten Cookies sind so genannte “Session-Cookies”.
                                Sie werden nach Ende Ihres Besuchs automatisch gelöscht. Andere
                                Cookies bleiben auf Ihrem Endgerät gespeichert bis Sie diese
                                löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim
                                nächsten Besuch wiederzuerkennen. Sie können Ihren Browser so
                                einstellen, dass Sie über das Setzen von Cookies informiert werden
                                und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für
                                bestimmte Fälle oder generell ausschließen sowie das automatische
                                Löschen der Cookies beim Schließen des Browsers aktivieren. Bei der
                                Deaktivierung von Cookies kann die Funktionalität dieser Website
                                eingeschränkt sein. Cookies, die zur Durchführung des
                                elektronischen Kommunikationsvorgangs erforderlich sind, werden auf
                                Grundlage von Art. 6 Abs. 1, f DSGVO gespeichert. Der
                                Websitebetreiber hat ein berechtigtes Interesse an der Speicherung
                                von Cookies zur technisch fehlerfreien und optimierten Bereitstellung
                                seiner Dienste. 
                                </p>
                                <p style="margin-bottom: 0.11in; line-height: 108%"><b>Wofür werden
                                erhobene Daten genutzt? </b>
                                </p>
                                <p style="margin-bottom: 0.11in; line-height: 108%">Ein Teil der
                                Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu
                                gewährleisten. Andere Daten können zur Analyse des Nutzerverhaltens
                                verwendet werden. Analyse-Tools und Tools von Drittanbietern. Wir
                                verwenden keine Analyse-Tools und Tools von Drittanbietern. Bei
                                Kontaktierung verwenden wir Ihre Kontaktdaten für die Kommunikation
                                mit Ihnen.</p>
                                
                                
                                <p style="margin-bottom: 0.11in; line-height: 108%"><b>Welche Rechte
                                haben Sie bezüglich Ihrer Daten?</b></p>
                                <p style="margin-bottom: 0.11in; line-height: 108%">Auskunft,
                                Sperrung, Löschung: Sie haben jederzeit das Recht unentgeltlich
                                Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten
                                personenbezogenen Daten zu erhalten. Sie haben außerdem das Recht,
                                die Berichtigung, Sperrung oder Löschung Ihrer Daten zu verlangen.
                                Des Weiteren steht Ihnen ein Beschwerderecht bei der zuständigen
                                Aufsichtsbehörde zu.</p>
                                <p style="margin-bottom: 0.11in; line-height: 108%">Widerruf Ihrer
                                Einwilligung zur Datenverarbeitung: Viele Datenverarbeitungsvorgänge
                                sind nur mit Ihrer ausdrücklichen Einwilligung möglich. Sie können
                                eine bereits erteilte Einwilligung jederzeit widerrufen. Dazu reicht
                                eine formlose Mitteilung per E-Mail an uns. Die Rechtmäßigkeit der
                                bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf
                                unberührt. 
                                </p>
                                <p style="margin-bottom: 0.11in; line-height: 108%">Veröffentlichung
                                von Daten und Fotos auf der Homepage: In unseren online-Medien wird
                                von unseren Projekten in Ton, Bild, Video und Text berichtet. 
                                </p>
                                <p style="margin-bottom: 0.11in; line-height: 108%"><b>SSL-bzw.
                                TLS-Verschlüsselung</b></p>
                                <p style="margin-bottom: 0.11in; line-height: 108%">Diese Seite nutzt
                                aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher
                                Inhalte, wie zum Beispiel Bestellungen oder Anfragen, die Sie an uns
                                als Seitenbetreiber senden, eine SSL-bzw. TLS-Verschlüsselung. Eine
                                verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile
                                des Browsers von “http://” auf “https://” wechselt und an dem
                                Schloss-Symbol in Ihrer Browserzeile. Wenn die SSL-bzw.
                                TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns
                                übermitteln, nicht von Dritten mitgelesen werden.</p>
                                <p style="margin-bottom: 0.11in; line-height: 108%"><br/>
                                <br/>
                                
                                </p>
                                </h6>
                            </div>
                            <div class="col-md-1 col-sm-1" style="display:flex; flex-wrap: wrap">
                                     
                            </div>
                        
                    </div>
                    
                    

                </div>
            </div>

<% include partials/footer.ejs %>



