<% include partials/header.ejs %>

    <div class="container">
        <div class="row">
            <div class="jumbotron col-xl-12">
                <div class="container">
                    
                    <div class="row text-left" style="display: flex; flex-wrap: wrap">
                            <div class="col-md-4 col-sm-12" style="display:flex; flex-wrap: wrap">
                                Die hier bereitgestellten Inhalte sind zur nichtkommerziellen Wiederverwendung und Bearbeitung freigegeben.

                                Downloads werden dann hinterlegt
                                    
                            </div>
                            <div class="col-md-5 col-sm-12" style="display:flex; flex-wrap: wrap"></div>
                            <div class="col-md-3 col-sm-12" style="display:flex; flex-wrap: wrap">
                                
                                <div class="img-thumbnail special-card">
                                    <img class="img-fluid" style="vertical-align: middle;" alt="Responsive image" src="images/logo.png">
                                </div>
                                
                            </div>
                        
                    </div>
                    
                    

                </div>
            </div>

<% include partials/footer.ejs %>