<% include partials/header.ejs %>

    <div class="container">
        <div class="row">
            <div class="jumbotron col-xl-12">
                <div class="container">
                    <h1 class="hl-after text-center">Informationen über unser Projekt </h1>
                    <div class="row text-left" style="display: flex; flex-wrap: wrap">
                        
                            <div class="col-md-9 col-sm-12" style="display:flex; flex-wrap: wrap">
                                    
                                    <h6> 
                                        <p>
                                            <strong>Sie interessieren sich für eine Projektwoche oder eine Lehrerfortbildung an Ihrer Schule? Dann sprechen sie uns an!</strong>
                                        </p>    
                                        <p>   
                                            Ihr Ansprechpartner: <br><br>

                                            Teresa Fritsch <br>
                                            
                                            Koordinatorin <br>
                                            
                                            <a href="mailto:mintegration@biodidaktik.uni-halle.de">mintegration@biodidaktik.uni-halle.de</a> <br>
                                            
                                            01573/1682893 <br>
                                        </p>
                                        
                                        <strong>Wie funktioniert eine Woche?</strong>

                                            <ul class="tilesWrap">
                                                <li>
                                                    <h2>01</h2>
                                                    
                                                    <p>
                                                        MINTegration ist für alle Schulpartner kostenfrei und sämtliches Material wird von uns zur Verfügung gestellt.
                                                    </p>
                                                    
                                                </li>
                                                <li>
                                                    <h2>02</h2>
                                                    
                                                    <p>
                                                        Unterricht findet bis zu 5 Stunden pro Tag statt.
                                                    </p>
                                                    
                                                </li>
                                                <li>
                                                    <h2>03</h2>
                                                    
                                                    <p>
                                                        Im Vorfeld vereinbaren wir einen Termin zur Hospitation und zum Kennenlernen der Klasse
                                                    </p>
                                                    
                                                </li>
                                                <li>
                                                    <h2>04</h2>
                                                    
                                                    <p>
                                                        Innerhalb der Projektwoche unterrichten 2 bis 3 Studierende
                                                    </p>
                                                    
                                                </li>
                                            </ul>
                                        </p>
                                        <p>
                                            <strong>Was passiert bei einer Lehrerfortbildung?</strong>
                                        </p>
                                        <p>
                                            <ul class="tilesWrap">
                                                <li>
                                                    <h2>01</h2>
                                                    
                                                    <p>
                                                        Wir teilen unsere Erfahrungen im sprachsensiblen MINT-Unterricht mit Ihnen.
                                                    </p>
                                                    
                                                </li>
                                                <li>
                                                    <h2>02</h2>
                                                    
                                                    <p>
                                                        Lernen Sie unser Material und unsere Methoden kennen, die Sie in Ihrem Unterricht nutzen können.
                                                    </p>
                                                    
                                                </li>
                                                <li>
                                                    <h2>03</h2>
                                                    
                                                    <p>
                                                        Tauschen Sie ihre Erfahrungen im Umgang mit DaZ-Klassen mit uns aus und finden Sie neue Lösungen für Ihren Unterricht.
                                                    </p>
                                                    
                                                </li>
                                                <li>
                                                    <h2>04</h2>
                                                    
                                                    <p>
                                                        Gern beraten wir Sie auch zum Thema Projektfinanzierung zu Ihren eigenen Projekten.
                                                    </p>
                                                    
                                                </li>
                                        </p>
                                    </h6>
                            </div>
                            
                            <div class="col-md-3 col-sm-12" style="display:flex; flex-wrap: wrap">
                                
                                <div class="img-thumbnail special-card">
                                    <img class="img-fluid" style="vertical-align: middle;" alt="Responsive image" src="images/logo.png">
                                </div>
                                
                            </div>
                        
                    </div>
                    
                    

                </div>
            </div>

<% include partials/footer.ejs %>