<% include partials/header.ejs %>

    <div class="container">
        <div class="row">
            <div class="jumbotron col-xl-12">
                <div class="container">
                    <h1 class="hl-after text-center">Unsere Partner </h1>
                    <div class="row text-left" style="display: flex; flex-wrap: wrap">
                            <div class="col-md-9 col-sm-12" style="display:flex; flex-wrap: wrap">
                                <p>
                                MINTegration wird gefördert durch die 

                                <a href="http://www.bayer-foundations.com/en/mission.aspx">Bayer& Science Education Foundation.</a>
                                </p>        
                                <p>    
                                In Kooperation mit <a href="https://www.binogi.de/">Binogi</a> unterstützen wir unsere Projekttage mit mehrsprachigen Erklärvideos.

                                
                                </p>    
                                <p>
                                In der Zusammenarbeit mit <a href=https://www.digibits.de/>DigiBits</a> entstehen Unterrichtseinheiten, die den Einsatz von Medien im Unterricht unterstützen.

                            
                                </p>        
                                <p>
                                MINTegration ist teilnehmender Partner des <a href=http://www.silbersalz-festival.com/de>Silbersalzfestivals</a> Made by Youth.
                                </p>
                            </div>
                            <div class="col-md-3 col-sm-12" style="display:flex; flex-wrap: wrap">
                                
                                <div class="img-thumbnail special-card">
                                    <img class="img-fluid" style="vertical-align: middle;" alt="Responsive image" src="images/logo.png">
                                </div>
                                
                            </div>
                        
                    </div>
                    
                    

                </div>
            </div>

<% include partials/footer.ejs %>