<% include partials/header.ejs %>

    <div class="container">
        <div class="row">
            <div class="jumbotron col-xl-12">
                <div class="container">
                    
                    <div class="row text-left" style="display: flex; flex-wrap: wrap">
                            <div class="col-md-3 col-sm-12" style="display:flex; flex-wrap: wrap">
                                    <h1 class="text-center hl-after"> Das Projekt</h1>
                                    <h6> 
                                        <p>
                                        Der naturwissenschaftliche Unterricht für Schulklassen mit Flüchtlingskindern steht im Zentrum des Projekts von Biodidaktikern der Martin-Luther-Universität Halle-Wittenberg.
                                        </p>    
                                        <p>   
                                        Unser Team liegt ein abwechslungsreicher Unterricht am Herzen, der nicht nur zum Ausprobieren anregt sondern auch das Erlernen der Deutschen Sprache fördert. 
                                        </p>
                                        
                                        An Schulen in Sachsen und Sachsen-Anhalt und führen wir Projektwochen zum Thema „Der menschliche Körper“ und „Nachhaltigkeit“ durch. Medienarbeit mit IPads ist bei jeder Woche Teil des Programms.
                                        </p>
                                        <p>
                                        Unser Angebot ist für DaZ und Willkommensklassen ab der 5. Klasse ausgerichtet. Für die teilnehmenden Schulen entstehen keine Kosten! 
                                        </p>
                                    </h6>
                            </div>
                            
                            <div class="col-md-9 col-sm-12" style="display:flex; flex-wrap: wrap">
                                
                                    <iframe class="iframe" width="700" height="400"
                                        src="https://www.youtube.com/embed/gFv6aw-gHoI">
                                    </iframe> 
                                
                            </div>
                            
                    </div>
                    
                    

                </div>
            </div>

<% include partials/footer.ejs %>