<% include partials/header.ejs %>

    <div class="container">
            <div class="jumbotron">
                <div class="container text-center">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="2000">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <i class="fa fa-school fa-10x"></i>
                            <h2 style="margin-top: 5px" class="hl-after">15 Schulen in und um Halle</h2>
                            <p>3 Berufsschulen</p>
                            <p>6 Gymnasien</p>
                            <p>6 Gesamtschulen</p>
                            </div>
                          <div class="carousel-item">
                            <i class="fa fa-graduation-cap fa-10x"></i>
                            <h2 style="margin-top: 5px" class="hl-after">Klassenstärken</h2>
                            <p>8 - 16 Schülerinnen und Schüler</p>
                            <p class=invisible>pl</p>
                            <p class=invisible>pl</p>
                          </div>
                          <div class="carousel-item">
                            <i class="fa fa-user-clock fa-10x"></i>
                            <h2 style="margin-top: 5px" class="hl-after">Altersgruppen</h2>
                            <p>Schülerinnen und Schüler zwischen 12 und 19 Jahren</p>
                            <p class=invisible>pl</p>
                            <p class=invisible>pl</p>
                          </div>
                          <div class="carousel-item">
                            <i class="fa fa-republican fa-10x"></i>
                            <h2 style="margin-top: 5px" class="hl-after">Teilnehmerinnen und Teilnehmer</h2>
                            <p>Bisher haben über 700 Schülerinnen und Schüler am MINTegrations Projekt teilgenommen</p>
                            <p class=invisible>pl</p>
                            <p class=invisible>pl</p>
                          </div>
                        </div>
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        </ol>
                      </div>
                </div>
            </div>

<% include partials/footer.ejs %>