<% include partials/header.ejs %>

<div class="container">
  <div class="row">
      <div class="jumbotron col-xl-12">
          <div class="container">
            <div>
              <h1 class="text-center hl-after"> 
                DAS TEAM
              </h1>
            </div>
              <div class="row text-center align-items-top" style="display: flex; flex-wrap: wrap">
                  <div class="col-md-6 col-sm-12" style="display:flex; flex-wrap: wrap">
                    <div class="img-thumbnail special-card">
                      <img class="img-fluid rounded-circle teamimgpadding" alt="Responsive image" src ="https://www.silbersalz-festival.com/sites/default/files/styles/ds_image_promo_square/public/2019-06/Lindner_Martin-hochkant-Fakultaetsmarketing.jpg?h=53aa80ba&itok=nq3hg_73">
                      <div class="caption"><h4>Prof. Dr. Martin Lindner </strong> </h4></div>
                      <div class="caption jobtitle"><h5>Professor für Biodidaktik <br> Uni Halle </h3></div>
                      <div class="d-flex justify-content-between">
                        <div class="centerit">
                          <ul class="list-group list-group-horizontal">
                            <li class="list-group-item socialmediabutton"><a href="mailto:Martin.lindner@biodidaktik.uni-halle.de"><i class="far fa-envelope"></i></a>
                            </li>
                            <li class="list-group-item socialmediabutton"><a href="https://www.xing.com/profile/Martin_Lindner32" target="_blank"
                                    rel="noopener noreferrer"><i class="fab fa-xing"></i></a></li>
                            <li class="list-group-item socialmediabutton"><a href="https://de.linkedin.com/in/teresa-fritsch-982424128" target="_blank"
                                    rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12" style="display:flex; flex-wrap: wrap">
                    <div class="img-thumbnail special-card">
                      <img class="img-fluid rounded-circle teamimgpadding" alt="Responsive image" src ="https://www.xing.com/image/8_3_f_d0c6fbb39_22778429_1/teresa-fritsch-foto.1024x1024.jpg">
                      <div class="caption"><h4>Teresa Fritsch </strong> </h4></div>
                      <div class="caption jobtitle"><h5>Mitarbeiterin Biodidaktik <br> Uni Halle </h3></div>
                      
                      <div class="row justify-content-center">
                        <div class="col-md-12 col-sm-12" style="display:flex; flex-wrap: wrap">
                          <div class="centerit">
                            <ul class="list-group list-group-horizontal">
                              <li class="list-group-item socialmediabutton"><a href="mailto:mintegration@biodidaktik.uni-halle.de"><i class="far fa-envelope"></i></a>
                              </li>
                              <li class="list-group-item socialmediabutton"><a href="https://www.xing.com/profile/Teresa_Fritsch2/cv" 
                                      ><i class="fab fa-xing"></i></a></li>
                              <li class="list-group-item socialmediabutton">
                                <a href="https://de.linkedin.com/in/teresa-fritsch-982424128">
                                  <i class="fab fa-linkedin-in">
                                  </i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="caption text-center">
                <h5>
                  
                  <p style="margin-top: 15px;">
                    „Kinder aus Flüchtlingsfamilie werden häufig in ein Lernumfeld gebracht, in dem das Lernen durch die Sprachbarriere schwerfällt. Wir unterstützen die örtlichen Lehrer bei der Vermittlung der deutschen Sprache und zeigen, wie man mit einfachen Methoden spannende Aspekte aus den MINT-Bereichen vermitteln kann. Die Dankbarkeit, die uns seitens der Schüler und Lehrer entgegengebracht wird, ist für uns das größte Geschenk.“ 
                  </p>
                </h5>
              </div>
              <div class="row text-center align-items-top" style="display: flex; flex-wrap: wrap">
                  <div class="col-md-4 col-sm-12" style="display:flex; flex-wrap: wrap">
                    <div class="img-thumbnail special-card">
                      <img class="img-fluid rounded-circle teamimgpadding" alt="Responsive image" src ="https://images.unsplash.com/photo-1471970471555-19d4b113e9ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80">
                      <div class="caption"><h4>Lena Wer? </strong> </h4></div>
                      <div class="caption jobtitle"><h5>Studentin - Lehramt Biologie & Englisch </h3></div>
                      
                      <div class="row justify-content-center">
                        <div class="col-md-12 col-sm-12" style="display:flex; flex-wrap: wrap">
                          <div class="centerit">
                            <ul class="list-group list-group-horizontal">
                              <li class="list-group-item socialmediabutton"><a href="mailto:mintegration@biodidaktik.uni-halle.de"><i class="far fa-envelope"></i></a>
                              </li>
                             
                                  </i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12" style="display:flex; flex-wrap: wrap">
                    <div class="img-thumbnail special-card">
                      <img class="img-fluid rounded-circle teamimgpadding" alt="Responsive image" src ="https://images.unsplash.com/photo-1471970471555-19d4b113e9ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80">
                      <div class="caption"><h4>Selina Raith </strong> </h4></div>
                      <div class="caption jobtitle"><h5>Studentin - Lehramt Biologie & Englisch </h3></div>
                      
                      <div class="row justify-content-center">
                        <div class="col-md-12 col-sm-12" style="display:flex; flex-wrap: wrap">
                          <div class="centerit">
                            <ul class="list-group list-group-horizontal">
                              <li class="list-group-item socialmediabutton"><a href="mailto:mintegration@biodidaktik.uni-halle.de"><i class="far fa-envelope"></i></a>
                              </li>
                             
                                  </i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12" style="display:flex; flex-wrap: wrap">
                    <div class="img-thumbnail special-card">
                      <img class="img-fluid rounded-circle teamimgpadding" alt="Responsive image" src ="https://images.unsplash.com/photo-1471970471555-19d4b113e9ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80">
                      <div class="caption"><h4>Julia Dargatz </strong> </h4></div>
                      <div class="caption jobtitle"><h5>Studentin - Lehramt Biologie & Deutsch </h3></div>
                      
                      <div class="row justify-content-center">
                        <div class="col-md-12 col-sm-12" style="display:flex; flex-wrap: wrap">
                          <div class="centerit">
                            <ul class="list-group list-group-horizontal">
                              <li class="list-group-item socialmediabutton"><a href="mailto:mintegration@biodidaktik.uni-halle.de"><i class="far fa-envelope"></i></a>
                              </li>
                             
                                  </i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row text-center align-items-top" style="display: flex; flex-wrap: wrap">  
                  <div class="col-md-4 col-sm-12" style="display:flex; flex-wrap: wrap">
                    <div class="img-thumbnail special-card">
                      <img class="img-fluid rounded-circle teamimgpadding" alt="Responsive image" src ="https://images.unsplash.com/photo-1471970471555-19d4b113e9ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80">
                      <div class="caption"><h4>Ivana Rogitc </strong> </h4></div>
                      <div class="caption jobtitle"><h5>Studentin - Lehramt Biologie & Englisch </h3></div>
                      
                      <div class="row justify-content-center">
                        <div class="col-md-12 col-sm-12" style="display:flex; flex-wrap: wrap">
                          <div class="centerit">
                            <ul class="list-group list-group-horizontal">
                              <li class="list-group-item socialmediabutton"><a href="mailto:mintegration@biodidaktik.uni-halle.de"><i class="far fa-envelope"></i></a>
                              </li>
                             
                                  </i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12" style="display:flex; flex-wrap: wrap">
                    <div class="img-thumbnail special-card">
                      <img class="img-fluid rounded-circle teamimgpadding" alt="Responsive image" src ="https://images.unsplash.com/photo-1471970471555-19d4b113e9ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80">
                      <div class="caption"><h4>Maximilian Hitzler </strong> </h4></div>
                      <div class="caption jobtitle"><h5>Student - Lehramt Biologie & Sport </h3></div>
                      
                      <div class="row justify-content-center">
                        <div class="col-md-12 col-sm-12" style="display:flex; flex-wrap: wrap">
                          <div class="centerit">
                            <ul class="list-group list-group-horizontal">
                              <li class="list-group-item socialmediabutton"><a href="mailto:mintegration@biodidaktik.uni-halle.de"><i class="far fa-envelope"></i></a>
                              </li>
                             
                                  </i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12" style="display:flex; flex-wrap: wrap">
                    <div class="img-thumbnail special-card">
                      <img class="img-fluid rounded-circle teamimgpadding" alt="Responsive image" src ="https://images.unsplash.com/photo-1471970471555-19d4b113e9ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80">
                      <div class="caption"><h4>Niklas Wer? </strong> </h4></div>
                      <div class="caption jobtitle"><h5>Student - Lehramt Biologie & Sport </h3></div>
                      
                      <div class="row justify-content-center">
                        <div class="col-md-12 col-sm-12" style="display:flex; flex-wrap: wrap">
                          <div class="centerit">
                            <ul class="list-group list-group-horizontal">
                              <li class="list-group-item socialmediabutton"><a href="mailto:mintegration@biodidaktik.uni-halle.de"><i class="far fa-envelope"></i></a>
                              </li>
                             
                                  </i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>    
        </div>               
    </div>          
</div>        
<% include partials/footer.ejs %>