<% include partials/header.ejs %>

    <div class="container">
        <div class="row">
            <div class="jumbotron col-xl-12">
                <div class="container">
                    
                    <h4 class=text-center>Herzlich Willkommen auf der Seite unseres Projektes MINTegration! 

                        Begleiten Sie uns bei spannenden Projektwochen mit Flüchtlingsklassen und profitieren Sie von unseren Erfahrungen mit sprachsensiblen MINT-Unterricht zum Anfassen.</h4>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="Bilder Mintegration/LOGO Mintegration.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">MINTegration für alle</h5>
                            <p class="card-text">DigiBits veröffentlicht Unterrichtseinheit</p>
                            <a href="#" class="btn btn-primary">Hier Lang</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="Bilder Mintegration/LOGO Mintegration.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">MINTegration für alle</h5>
                            <p class="card-text">DigiBits veröffentlicht Unterrichtseinheit</p>
                            <a href="#" class="btn btn-primary">Hier Lang</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="Bilder Mintegration/LOGO Mintegration.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">MINTegration für alle</h5>
                            <p class="card-text">DigiBits veröffentlicht Unterrichtseinheit</p>
                            <a href="#" class="btn btn-primary">Hier Lang</a>
                        </div>
                    </div>
                </div>
            </div>

<% include partials/footer.ejs %>