<% include partials/header.ejs %>

    <div class="container">
        <div class="row">
            <div class="jumbotron col-xl-12">
                <div class="container overviewpage">
                    
                    <h4 id="welcomehl" class="hl-after text-center"> Herzlich Willkommen auf der Seite unseres Projektes MINTegration! <br>
                        Begleiten Sie uns bei spannenden Projektwochen mit Flüchtlingsklassen und profitieren Sie von unseren Erfahrungen mit sprachsensiblem MINT-Unterricht zum Anfassen.
                    </h4>
                    
                    <div class="row text-center" style="display: flex; flex-wrap: wrap">
                            <div class="col-md-4 col-sm-12" style="display:flex; flex-wrap: wrap">
                                <div class="img-thumbnail">
                                    <img class="img-fluid" alt="Responsive image" src ="https://images.unsplash.com/photo-1505243542579-da5adfe8338f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                                    <div class="caption text-center"><h4>MINTegration für alle -<br> DigiBits veröffentlicht Unterrichtseinheit </strong> </h4></div>
                                    <div class="caption text-center" id="module1">
                                        <h6>
                                            <span class="collapse" id="collapsemod1" aria-expanded="false">
                                                Die Plattform DigiBits unterstützt digitale Bildung und veröffentlicht deutschlandweit frei zugängliche Materialien für die Nutzung von Medien. Gemeinsam ist innerhalb eines halben Jahres eine Unterrichtseinheit zum Thema Suchtprävention entstanden, welche sich aus unseren Erfahrungen im Unterricht speist. Wir freuen uns über unseren Beitrag uns bedanken uns für die Zusammenarbeit.  
                                            </span>
                                            <a role="button" class="collapsed" data-toggle="collapse" href="#collapsemod1" aria-expanded="false" aria-controls="collapsemod1"></a>
                                    
                                        </h6>
                                    </div>
                                    <p>
                                            <a href="https://www.digibits.de/materialien/digibits-unterrichtseinheit-genuss-oder-sucht/" class="btn btn-primary btn-primary-edit">Mehr Infos</a>
                                        </p>
                                </div>
                            </div>
                            
                            <div class="col-md-4 col-sm-12" style="display:flex; flex-wrap: wrap">
                                <div class="img-thumbnail">
                                    <img class="img-fluid" alt="Responsive image" src ="https://images.unsplash.com/photo-1533222535026-754c501569dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
                                    <div class="caption text-center"><h4>Freude in Kinderaugen -<br> Wir besuchen die ZASt in Halberstadt </strong> </h4></div>
                                    <div class="caption text-center" id="module2">
                                        <h6>
                                            <span class="collapse" id="collapsemod2" aria-expanded="false">
                                            Im Asylheim in Halberstadt ist die Zukunft von Flüchtlingsfamilien ungewiss. Zwischen Abschiebung und Eingliederung verbringen Kinder hier ihren Alltag mit Spielen auf dem Hof. Seit 2018 hat die Caritas für sie eine Lernwerkstatt eingerichtet, bei der Kinder erste Deutschkenntnisse erwerben können. Katja Lukanow-Arndt nahm mit uns Kontakt auf, um ein alternatives Angebot fernab vom Alltag bieten zu können. Vom 09. bis 13. September betreuten wir so eine Projektwoche außerhalb des Schulrahmens. Die Jugendlichen nahmen freiwillig an diesem Projekt teil, eine Teilnahmepflicht bestand nicht. Wir konnten viel dabei lernen: Über die Sprachbarrieren, mit denen sie zu kämpfen haben, über das Leben ohne ein zu Hause. Vor allem erhielten wir aber auch große Dankbarkeit seitens der Kinder, die sich über die Abwechslung sehr freuten. Und wenn es mal mit der Sprache haperte, gingen auch Hand und Fuß zur Verständigung.
                                        Eines ist sicher: Wir kommen wieder.
                                            </span>
                                            <a role="button" class="collapsed" data-toggle="collapse" href="#collapsemod2" aria-expanded="false" aria-controls="collapsemod2"></a>
                                    
                                        </h6>
                                        
                                    </div>
                                    <p>
                                            <a href="#" class="btn btn-primary btn-primary-edit">Mehr Infos</a>
                                        </p>
                                </div>
                            </div>
                
                            <div class="col-md-4 col-sm-12" style="display:flex; flex-wrap: wrap">
                                <div class="img-thumbnail">
                                    <img class="img-fluid" alt="Responsive image" src ="https://images.unsplash.com/photo-1516822669470-73d1771e95a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                                    <div class="caption text-center"><h4>Falling Walls Engage -<br> Bühne frei für weltbewegende Projekte </strong> </h4></div>
                                    <div id="module3" class="caption text-center">
                                        <h6> 
                                            <span class="collapse" id="collapsemod3" aria-expanded="false">
                                                Which are the next walls to fall? Diese Frage stellt das internationale Forum Falling Walls Engage. In kurzen inspirierenden Präsentationen erhalten Unternehmer, junge Wissenschaftlicher und Projekte die Chance, zu zeigen, wie sie mit ihrem Engagement die Zukunft formen. Aus den hunderten an Bewerbungen aus der ganzen Welt wurden auch wir eingeladen, MINTegration einem großen Publikum vorzustellen. Es war eine großartige Erfahrung und wir sind dankbar mit vielen inspirierenden Menschen im Austausch gestanden zu haben.    
                                            </span><a role="button" class="collapsed" data-toggle="collapse" href="#collapsemod3" aria-expanded="false" aria-controls="collapsemod3"></a>
                                        </h6>
                                        </div>
                                    <div>
                                            <a href="https://falling-walls.com/engage/finalists/mintegration/" class="btn btn-primary btn-primary-edit">Mehr Infos</a>
                                    </div>
                                </div>
                            </div>      
                    </div>
                </div>
            </div>

<% include partials/footer.ejs %>