body {
    background-color: #000;
    font-family: 'Oswald', sans-serif;

  }

#landing-header {
    z-index: 0;
    position: relative;
    text-align: center;
    padding-top: 82vh;
  }

#landing-header h1 {
    color: #fff;
  }

.landing-btn {
  color: rgb(29, 34, 32);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  background: rgb(132, 191, 64);
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  width: 12rem;
  opacity: 0.5;
  }

.landing-btn:hover {
  background: rgb(132, 191, 64);
  color: rgb(216, 38, 125);
  letter-spacing: 15px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  width: 20em;
  opacity: 1;
  }

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 30em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 70s linear infinite; 
  }
 
.slideshow li:nth-child(1) { 
  background-image: url("../images/logo.png");
}
.slideshow li:nth-child(2) { 
  background-image: url("../images/_MG_0204.png");
  animation-delay: 5s; 
}
.slideshow li:nth-child(3) { 
  background-image: url("../images/2019-03-06\ 11.21.28.jpg");
  animation-delay: 10s; 
}
.slideshow li:nth-child(4) { 
  background-image: url("../images/2019-03-06\ 12.48.28.jpg");
  animation-delay: 15s; 
}
.slideshow li:nth-child(5) { 
  background-image: url("../images/IMG_0535.jpg");
  animation-delay: 20s; 
}
.slideshow li:nth-child(6) { 
  background-image: url("../images/IMG_20181019_143052.jpg");
  animation-delay: 25s; 
}
.slideshow li:nth-child(7) { 
  background-image: url("../images/IMG_20190915_105739.jpg");
  animation-delay: 30s; 
}
.slideshow li:nth-child(8) { 
  background-image: url("../images/Lehrerfortbildung.jpg");
  animation-delay: 35s; 
}
.slideshow li:nth-child(9) { 
  background-image: url("../images/Medienarbeit\ mit\ Flüchtlingen.jpg");
  animation-delay: 40s; 
}
.slideshow li:nth-child(10) { 
  background-image: url("../images/Produkte\ Upcycling.jpeg");
  animation-delay: 45s; 
}
.slideshow li:nth-child(11) { 
  background-image: url("../images/Projektwoche\ Nachhaltigkeit.jpeg");
  animation-delay: 50s; 
}
.slideshow li:nth-child(12) { 
  background-image: url("../images/Seite\ Projekt.jpg");
  animation-delay: 55s; 
}
.slideshow li:nth-child(13) { 
  background-image: url("../images/Titelseite.jpg");
  animation-delay: 60s; 
}
.slideshow li:nth-child(14) { 
  background-image: url("../images/tolle\ Experimente.jpg");
  animation-delay: 65s; 
}


@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  4% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  5% {
    opacity: 1
  }
  6% {
    opacity: 0
  }
}

  /* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}