body {
    background-color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;

  }

#landing-header {
    z-index: 0;
    position: relative;
    text-align: center;
    padding-top: 82vh;
  }

#landing-header h1 {
    color: #fff;
  }

.landing-btn {
  color: rgb(29, 34, 32);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  background: rgb(132, 191, 64);
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  width: 12rem;
  opacity: 1;
  }

.landing-btn:hover {
  background: rgb(132, 191, 64);
  color: rgb(216, 38, 125);
  letter-spacing: 15px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  width: 20em;
  opacity: 1;
  }

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 20em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 70s linear infinite; 
  }
 
.slideshow li:nth-child(1) { 
  background-image: url("../images/logo.png");
}



@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  4% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
}

  /* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}