body {
    background-color: rgb(241, 245, 237);
    font-family: 'Arial', sans-serif;
}

.resize_fit_center {
  max-width:100%;
  max-height:100%;
  vertical-align: middle;
}

.img-thumbnail {
    padding: 0;
}

.img-responsive {
    width: 100%;
}

.caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.navpane {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    padding-top: 1em;
  }
  
  
  /* Links inside the navbar */
  .navpane a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navpane a:hover {
    background: #ddd;
    color: rgb(216, 38, 125);
  }

  .list-group-item .list-group-item-action .active {
    background-color: black;
  }

  .iframe {
    margin-top: 10vh;
    margin-left: 4vh;
  }

  .hl-after::after {
    content: "";
    position: relative;
    display: block;
    width: 80px;
    height: 2px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background: rgb(169, 209, 142);
    left: 50%;
    margin-left: -40px;
    bottom: 0;
  }

/* made invisible because not correctly responsive */
  .hl-afterboxes::after {
    content: "";
    position: relative;
    display: block;
    width: 80px;
    height: 2px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background: rgb(169, 209, 142);
    opacity: 0;
    left: 16%;
    margin-left: -40px;
    bottom: 0;
  }

  .jobtitle {
    color: #b3b3b3;
  }
  
  .special-card {
      background-color: rgba(245, 245, 245, 0.1);
      vertical-align: middle
    }
    

  .carousel-indicators {
      bottom: -50px;
  }    
  .carousel-indicators li {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin: 10px;
      text-indent: 0;
      border: none;
      border-radius: 50%;
      background-color: rgb(169, 209, 142);
      box-shadow: outset 1px 1px 1px 1px rgb(216, 38, 125);    
  }
  .carousel-indicators .active {
      width: 24px;
      height: 24px;
      margin: 10px;
      background-color: rgb(216, 38, 125);
  }

/* Modify the backgorund color */ 
.navbar-custom { 
  background-color: rgb(169, 209, 142); 
  padding: 0;
}

.navbar-custom .navbar-brand{ 
  background-color: rgb(241, 245, 237);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item:hover .nav-link {
    color: rgb(216, 38, 125);
}
/* funkt noch nich ?!?! */
.navbar-custom .nav-item.active{
    color: rgb(216, 38, 125);
}

/* funkt noch nich ?!?! */
.navbar-custom .nav-item .nav-link {
  color: black;
}

.active { 
  color: rgb(43, 44, 43) !important;
  font-weight: bold;
  font-style: normal;

}

.top_padded {
  padding-top: 1vh;
}

/*change color of the burger */
.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(216,38,125, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  padding: 26px !important;
}

.navbar-toggler {
  border-color: rgb(216, 38, 125);
} 

/* make the dropdowns custom */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 1px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: rgb(255, 255, 255); 
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-item {
  color: rgb(43, 44, 43) !important;
  font-weight: bold;
  font-style: normal;
}

.dropdown-item:hover {
  color: #fff;
  background-color: rgb(216, 38, 125);
  border-color: #fff;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.list-group-item {
  color: rgb(43, 44, 43) !important;
  font-weight: bold;
  font-style: normal;
}

.list-group-item:hover {
  color: #fff;
  background-color: rgb(216, 38, 125);
  border-color: #fff;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index:2;
  color:#fff;
  background-color:rgb(216, 38, 125);
  border-color:#fff;
}

a:hover {
color: rgb(169, 209, 142);
} 

#module3 {
  font-size: 1rem;
  line-height: 1.5;
}


#module3 #collapsemod3.collapse:not(.show) {
  display: block;
  height: 3.8rem;
  overflow: hidden;
}

#module3 #collapsemod3.collapsing {
  height: 3rem;
}

#module3 a.collapsed::after {
  content: '... mehr anzeigen';
}

#module3 a:not(.collapsed)::after {
  content: '... weniger anzeigen';
}

#module2 {
  font-size: 1rem;
  line-height: 1.5;
}

#module2 #collapsemod2.collapse:not(.show) {
  display: block;
  height: 3.8rem;
  overflow: hidden;
}

#module2 #collapsemod2.collapsing {
  height: 3rem;
}

#module2 a.collapsed::after {
  content: '... mehr anzeigen';
}

#module2 a:not(.collapsed)::after {
  content: '... weniger anzeigen';
}

#module1 {
  font-size: 1rem;
  line-height: 1.5;
}

#module1 #collapsemod1.collapse:not(.show) {
  display: block;
  height: 3.8rem;
  overflow: hidden;
}

#module1 #collapsemod1.collapsing {
  height: 3rem;
}

#module1 a.collapsed::after {
  content: '... mehr anzeigen';
}

#module1 a:not(.collapsed)::after {
  content: '... weniger anzeigen';
}

#welcomehl {
  padding:0;
  margin-bottom: 3rem;
}

.btn-primary-edit {
  background-color: rgb(169, 209, 142);
  border: 0;
  color: rgb(43, 44, 43) !important;
  font-family: 'Arial';
  font-weight: bold;
  font-style: normal;
}

.btn-primary-edit:hover {
  background-color: rgb(216, 38, 125);
}

.overviewpage h4 {
  padding-top: 1rem;
}

.socialmediabutton {
  background-color: transparent;
  border: none;
}

.centerit {
  margin-left: auto;
  margin-right: auto;
}

.special-card {
  padding: 3vh;
}

.teamimgpadding {
  padding: 6vh;
}

.tilesWrap {
	padding: 0;
	margin: 50px auto;
	list-style: none;
	text-align: center;
}
.tilesWrap li {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	font-family: 'helvetica', san-serif;
	height: 250px;
	background:   rgb(169, 209, 142);
	border: 1px solid rgb(169, 209, 142);
	text-align: left;
}
.tilesWrap li h2 {
	font-size: 60px;
	margin: 0;
	position: absolute;
	opacity: 0.2;
	top: 10px;
	right: 10px;
	transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
	font-size: 20px;
	color: #b7b7b7;
	margin-bottom: 5px;
}
.tilesWrap li p {
	font-size: 16px;
	line-height: 18px;
	color: black;
	margin-top: 5px;
}
.tilesWrap li:hover h2 {
	top: 0px;
	opacity: 0.6;
}

.tilesWrap li:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background: #fff;
	transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
	content: '';
	position: absolute;
	width: 40%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.02);
}

.nav-item-pills a {
  color: rgb(43, 44, 43) !important;
  font-weight: bold;
  font-style: normal;
}

.nav-item-pills a.active {
  background-color: rgb(216, 38, 125) !important;
  font-weight: bold;
  font-style: normal;
}

.nav-item-pills:hover {
  color: #fff;
  border-radius: 4px;
  background-color: rgb(216, 38, 125);
  border-color: #fff;
}




