<% include partials/header.ejs %>

<div class="jumbotron" id="jumbopadded">
    <iframe class="iframe" src="generatetext/generate_text.html" name="targetframe" frameborder="0" allowfullscreen>
    </iframe>
</div>  

<% include partials/footer.ejs %>