<% include partials/header.ejs %>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                        
            <div class="row">
                    <div class="col-md-6">
                            <h1>Willkommen zur KI Challenge!</h1>
                            <p>
                                Die KI Challenge soll Innovation im DRV Verbund fördern, vernetzen und vor Allem Spaß machen. 
                            
                             Dazu nutzen wir den innovativsten Ort in der DRV: Das Innovation Lab - selbstverständlich kommt also der nutzerorientierte Design Thinking Ansatz zum tragen.

                            </p> Beim Hacken sollen verschiedene Technologie wie zum Beispiel die folgenden zum Einsatz kommen:
                                <n>    
                                <li>Data Science Entwicklung</li>
                                <li>Watson APIs</li> 
                                <li>Mobile App- / Frontend-Entwicklung </li>
                                <li>IoT App Entwicklung</li>
                            </p>
                    </div>
                    <div class="col-md-6">
                            <img class="img-fluid" alt="Responsive image" src ="watsonicon.png">
                    </div>
                </div>
            </div>
        </header>
        

<% include partials/footer.ejs %>