<h5 class="card-title"><span id="vocabtrans">Wörter</span>         
    <div class="btn-group">
    <button class="btn btn-secondary btn-sm" type="button">
        <i class="fas fa-globe-africa"></i> Sprache
    </button>
    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
        <li class="dropdown-item" href="#" onclick="transfunc(this)"><span class="flag-icon flag-icon-de"></span> Deutsch - de</li>
        <li class="dropdown-item" href="#" onclick="transfunc(this)"><span class="flag-icon flag-icon-gb en"></span> English - en</li>
        <li class="dropdown-item" href="#" onclick="transfunc(this)"><span class="flag-icon flag-icon-ae"></span> عربي - ar</li>
        <li class="dropdown-item" href="#" onclick="transfunc(this)"><span class="flag-icon flag-icon-cn"></span> 中文 - zh</li>
    </div>
</h5>
<p class="float-left"></p>
<img class="img-responsive rounded mx-auto d-block middle" src="">
<table class="table table-striped">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col"></th>
        <th scope="col">Deutsch</th>
        <th scope="col" id="currentlang">Deine Sprache</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- <th scope="row">1</th> -->
        <td><i class="fas fa-braille"></i></i></td>
        <td class="wordtotrans">Glitzer</td>
        <td class="wordistrans"></td>
      </tr>
      <tr>
        <!-- <th scope="row">2</th> -->
        <td><i class="fas fa-viruses"></i></td>
        <td class="wordtotrans">Viren</td>
        <td class="wordistrans"></td>
      </tr>
      <tr>
        <!-- <th scope="row">3</th> -->
        <td><i class="fas fa-water"></i></td>
        <td class="wordtotrans">Wasser</td>
        <td class="wordistrans"></td>
      </tr>
      <tr>
        <!-- <th scope="row">4</th> -->
        <td><i class="fas fa-video"></i></td>
        <td class="wordtotrans">Video</td>
        <td class="wordistrans"></td>
      </tr>
      <tr>
        <!-- <th scope="row">5</th> -->
        <td><i class="fas fa-head-side-mask"></i></td>
        <td class="wordtotrans">Mundschutz</td>
        <td class="wordistrans"></td>
      </tr>
      <tr>
        <!-- <th scope="row">6</th> -->
        <td><i class="fas fa-flask"></i></td>
        <td class="wordtotrans">Experiment</td>
        <td class="wordistrans"></td>
      </tr>
      <tr>
        <!-- <th scope="row">7</th> -->
        <td><i class="fas fa-hands-wash"></i></td>
        <td class="wordtotrans">Hände waschen</td>
        <td class="wordistrans"></td>
      </tr>
      <tr>
        <!-- <th scope="row">8</th> -->
        <td><i class="fas fa-spray-can"></i></td>
        <td class="wordtotrans">Sprühflasche</td>
        <td class="wordistrans"></td>
      </tr>
    </tbody>
  </table>