<div class="row" style="display: none;" id="box1">

    <div class="col-md-2 col-sm-12">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="1" data-toggle="list" href="#list-station1" role="tab" aria-controls="1">Station 1</a>
            <a class="list-group-item list-group-item-action" id="2" data-toggle="list" href="#list-station2" role="tab" aria-controls="2">Station 2</a>
            <a class="list-group-item list-group-item-action" id="3" data-toggle="list" href="#list-station3" role="tab" aria-controls="3">Station 3</a>
        </div>
    </div>
    <div class="col-md-10 col-sm-12">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-station1" role="tabpanel" aria-labelledby="1">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-pills">
                            <li class="nav-item nav-item-pills">
                                <a href="#laufzettel" class="nav-link active" data-toggle="tab">Laufzettel</a>
                            </li>
                            <li class="nav-item nav-item-pills">
                                <a href="#bastel" class="nav-link" data-toggle="tab">Bastelanleitung</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="laufzettel"> 
                                <img class="img-responsive rounded mx-auto d-block middle" src="">
                                <object data="Box1/Laufzettel - Pflanze.pdf" width="875" height="1000">
                                    <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                    <p><a href="Box1/Laufzettel - Pflanze.pdf">Laufzettel stattdessen herunterladen</a></p>
                                </object>
                            </div>
                            <div class="tab-pane fade" id="bastel">
                                <img class="img-responsive rounded mx-auto d-block middle" src="">
                                <object data="Box1/Bastelanleitung.pdf" width="875" height="1000">
                                    <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                    <p><a href="Box1/Bastelanleitung.pdf">Bastelanleitung stattdessen herunterladen</a></p>
                                </object>
                            </div>
                        </div>           
                    </div>
                </div>
            </div>
            <div class="tab-pane fade " id="list-station2" role="tabpanel" aria-labelledby="3">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-pills">
                            <li class="nav-item nav-item-pills">
                                <a href="#laufzettel2" class="nav-link active" data-toggle="tab">Laufzettel</a>
                            </li>
                            <li class="nav-item nav-item-pills">
                                <a href="#taskA" class="nav-link" data-toggle="tab">Aufgabe A</a>
                            </li>
                            <li class="nav-item nav-item-pills">
                                <a href="#taskB" class="nav-link" data-toggle="tab">Aufgabe B</a>
                            </li>
                            <li class="nav-item nav-item-pills">
                                <a href="#taskC" class="nav-link" data-toggle="tab">Aufgabe C</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="laufzettel"> 
                                <img class="img-responsive rounded mx-auto d-block middle" src="">
                                <object data="Box1/Laufzettel - Pflanze.pdf" width="875" height="1000">
                                    <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                    <p><a href="Box1/Laufzettel - Pflanze.pdf">Laufzettel stattdessen herunterladen</a></p>
                                </object>
                            </div>
                            <div class="tab-pane fade" id="bastel">
                                <img class="img-responsive rounded mx-auto d-block middle" src="">
                                <object data="Box1/Bastelanleitung.pdf" width="875" height="1000">
                                    <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                    <p><a href="Box1/Bastelanleitung.pdf">Bastelanleitung stattdessen herunterladen</a></p>
                                </object>
                            </div>
                        </div>           
                    </div>
                </div>
            </div> 
            <div class="tab-pane fade " id="list-station3" role="tabpanel" aria-labelledby="2">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-pills">
                            <li class="nav-item nav-item-pills">
                                <a href="#laufzettel3" class="nav-link active" data-toggle="tab">Laufzettel</a>
                            </li>
                            <li class="nav-item nav-item-pills">
                                <a href="#task1" class="nav-link" data-toggle="tab">Aufgabe A</a>
                            </li>
                            <li class="nav-item nav-item-pills">
                                <a href="#task2" class="nav-link" data-toggle="tab">Aufgabe B</a>
                            </li>
                            <li class="nav-item nav-item-pills">
                                <a href="#task3" class="nav-link" data-toggle="tab">Aufgabe C</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="laufzettel3"> 
                                <img class="img-responsive rounded mx-auto d-block middle" src="">
                                <object data="Box1/Laufzettel Aufgabe 3.pdf" width="875" height="1000">
                                    <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                    <p><a href="Box1/Laufzettel Aufgabe 3.pdf">Laufzettel stattdessen herunterladen</a></p>
                                </object>
                            </div>
                            <div class="tab-pane fade show" id="task1">
                                <ul class="nav nav-pills">
                                    <li class="nav-item nav-item-pills">
                                        <a href="#land" class="nav-link active" data-toggle="tab">Finde die Fehler auf dem Land</a>
                                    </li>
                                    <li class="nav-item nav-item-pills">
                                        <a href="#stadt" class="nav-link" data-toggle="tab">Finde die Fehler in der Stadt</a>
                                    </li>
                                    <li class="nav-item nav-item-pills">
                                        <a href="#loesungen" class="nav-link" data-toggle="tab">Lösungen</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="land"> 
                                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                                        <object data="Box1/Finde_die_Fehler_auf_dem_Land.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box1/Finde_die_Fehler_auf_dem_Land.pdf">Rätsel stattdessen herunterladen</a></p>
                                        </object>
                                    </div>
                                    <div class="tab-pane fade" id="stadt">
                                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                                        <object data="Box1/Finde die Fehler in der Stadt.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box1/Finde die Fehler in der Stadt.pdf">Rätsel stattdessen herunterladen</a></p>
                                        </object>
                                    </div>
                                    <div class="tab-pane fade" id="loesungen">
                                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                                        <object data="Box1/Finde_die_Fehler_auf_dem_Land_Lösung.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box1/Finde_die_Fehler_auf_dem_Land_Lösung.pdf">Lösung stattdessen herunterladen</a></p>
                                        </object>
                                        <object data="Box1/Finde die Fehler in der Stadt - Lösung.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box1/Finde die Fehler in der Stadt - Lösung.pdf">Lösung stattdessen herunterladen</a></p>
                                        </object>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="task2">
                                <ul class="nav nav-pills">
                        
                                    <li class="nav-item nav-item-pills">
                                        <a href="#land1" class="nav-link active" data-toggle="tab">Leben auf dem Land</a>
                                    </li>
                                    <li class="nav-item nav-item-pills">
                                        <a href="#stadt2" class="nav-link" data-toggle="tab">Auf in die Stadt</a>
                                    </li>
                                    <li class="nav-item nav-item-pills">
                                        <a href="#loesungen2" class="nav-link" data-toggle="tab">Lösungen</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="land1"> 
                                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                                        <object data="Box1/Leben_auf_dem_Land.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box1/Leben_auf_dem_Land.pdf">Rätsel stattdessen herunterladen</a></p>
                                        </object>
                                    </div>
                                    <div class="tab-pane fade" id="stadt2">
                                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                                        <object data="Box1/Auf in die Stadt.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box1/Auf in die Stadt.pdf">Rätsel stattdessen herunterladen</a></p>
                                        </object>
                                    </div>
                                    <div class="tab-pane fade" id="loesungen2">
                                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                                        <object data="Box1/Auf in die Stadt Lösung.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box1/Auf in die Stadt Lösung.pdf">Lösung stattdessen herunterladen</a></p>
                                        </object>
                                        <object data="Box1/Leben_auf_dem_Land_Lösung.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box1/Leben_auf_dem_Land_Lösung.pdf">Lösung stattdessen herunterladen</a></p>
                                        </object>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="task3">
                                <ul class="nav nav-pills">
                                    <li class="nav-item nav-item-pills">
                                        <a href="#land1" class="nav-link active" data-toggle="tab">Leben auf dem Land</a>
                                    </li>
                                    <li class="nav-item nav-item-pills">
                                        <a href="#stadt2" class="nav-link" data-toggle="tab">Auf in die Stadt</a>
                                    </li>
                                    <li class="nav-item nav-item-pills">
                                        <a href="#loesungen2" class="nav-link" data-toggle="tab">Lösungen</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="land1"> 
                                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                                        <object data="Box1/Leben_auf_dem_Land.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box1/Leben_auf_dem_Land.pdf">Rätsel stattdessen herunterladen</a></p>
                                        </object>
                                    </div>
                                    <div class="tab-pane fade" id="stadt2">
                                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                                        <object data="Box1/Auf in die Stadt.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box1/Auf in die Stadt.pdf">Rätsel stattdessen herunterladen</a></p>
                                        </object>
                                    </div>
                                    <div class="tab-pane fade" id="loesungen2">
                                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                                        <object data="Box1/Auf in die Stadt Lösung.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box1/Auf in die Stadt Lösung.pdf">Lösung stattdessen herunterladen</a></p>
                                        </object>
                                        <object data="Box1/Leben_auf_dem_Land_Lösung.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box1/Leben_auf_dem_Land_Lösung.pdf">Lösung stattdessen herunterladen</a></p>
                                        </object>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>