<div class="row" style="display: none;" id="box2">

    <div class="col-md-2 col-sm-12">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="1" data-toggle="list" href="#list-station1-2" role="tab" aria-controls="1">Station 1</a>
            <a class="list-group-item list-group-item-action" id="2" data-toggle="list" href="#list-station2-2" role="tab" aria-controls="2">Station 2</a>
            <a class="list-group-item list-group-item-action" id="3" data-toggle="list" href="#list-station3-2" role="tab" aria-controls="3">Station 3</a>
        </div>
    </div>
    <div class="col-md-10 col-sm-12">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-station1-2" role="tabpanel" aria-labelledby="1">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-pills">
                            <li class="nav-item nav-item-pills">
                                <a href="#laufzettel-a2" class="nav-link active" data-toggle="tab">Laufzettel</a>
                            </li>
                            <li class="nav-item nav-item-pills">
                                <a href="#taskA-2" class="nav-link" data-toggle="tab">Aufgabe A</a>
                            </li>
                            <li class="nav-item nav-item-pills">
                                <a href="#taskB-2" class="nav-link" data-toggle="tab">Aufgabe B</a>
                            </li>
                            <li class="nav-item nav-item-pills">
                                <a href="#taskC-2" class="nav-link" data-toggle="tab">Aufgabe C</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="laufzettel-a2"> 
                                <img class="img-responsive rounded mx-auto d-block middle" src="">
                                <object data="Box2/Station1/Laufzettel.pdf" width="875" height="1000">
                                    <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                    <p><a href="Box2/Station1/Laufzettel.pdf">Laufzettel stattdessen herunterladen</a></p>
                                </object>
                            </div>
                            <div class="tab-pane fade" id="taskA-2">
                                <img class="img-responsive rounded mx-auto d-block middle" src="">
                                <object data="Box2/Station1/Infloblatt_Gemüse_zuordnen_1_fertig.pdf" width="875" height="1000">
                                    <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                    <p><a href="Box2/Station1/Infloblatt_Gemüse_zuordnen_1_fertig.pdf">Datei stattdessen herunterladen</a></p>
                                </object>
                            </div>
                            <div class="tab-pane fade" id="taskB-2">
                                <img class="img-responsive rounded mx-auto d-block middle" src="">
                                <object data="Box2/Station1/infoblatt_Gemüse_2.pdf" width="875" height="1000">
                                    <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                    <p><a href="Box2/Station1/infoblatt_Gemüse_2.pdf">Datei stattdessen herunterladen</a></p>
                                </object>
                            </div>
                            <hr/>
                            <div class="tab-pane fade show" id="taskC-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item nav-item-pills">
                                        <a href="#gemuese" class="nav-link active" data-toggle="tab">zuzuordnende Wörter</a>
                                    </li>
                                    <li class="nav-item nav-item-pills">
                                        <a href="#gemueseloesungen" class="nav-link" data-toggle="tab">Lösung</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="gemuese"> 
                                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                                        <object data="Box2/Station1/Wörter_Zuordnen.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box2/Station1/Wörter_Zuordnen.pdf">Wörterblatt stattdessen herunterladen</a></p>
                                        </object>
                                    </div>
                                    <div class="tab-pane fade" id="gemueseloesungen">
                                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                                        <object data="Box2/Station1/Infloblatt_Gemüse_3_fertig.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box2/Station1/Infloblatt_Gemüse_3_fertig.pdf">Lösung stattdessen herunterladen</a></p>
                                        </object>
                                    </div>
                                </div>
                            </div>
                        </div>           
                    </div>
                </div>
            </div>
            <div class="tab-pane fade " id="list-station2-2" role="tabpanel" aria-labelledby="3">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-pills">
                            <li class="nav-item nav-item-pills">
                                <a href="#laufzettel2-2" class="nav-link active" data-toggle="tab">Laufzettel</a>
                            </li>
                            <li class="nav-item nav-item-pills">
                                <a href="#taskA-2-2" class="nav-link" data-toggle="tab">Aufgabe A</a>
                            </li>
                            <li class="nav-item nav-item-pills">
                                <a href="#taskB-2-2" class="nav-link" data-toggle="tab">Aufgabe B</a>
                            </li>
                            <li class="nav-item nav-item-pills">
                                <a href="#taskC-2-2" class="nav-link" data-toggle="tab">Aufgabe C</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="laufzettel2-2"> 
                                <img class="img-responsive rounded mx-auto d-block middle" src="">
                                <object data="Box2/Station2/Laufzettel Zuckergehalt.pdf" width="875" height="1000">
                                    <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                    <p><a href="Box2/Station2/Laufzettel Zuckergehalt.pdf">Laufzettel stattdessen herunterladen</a></p>
                                </object>
                            </div>
                            <div class="tab-pane fade" id="taskA-2-2">
                                <img class="img-responsive rounded mx-auto d-block middle" src="">
                                <object data="Box2/Station2/Zuckergehalt leicht.pdf" width="875" height="1000">
                                    <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                    <p><a href="Box2/Station2/Zuckergehalt leicht.pdf">Datei stattdessen herunterladen</a></p>
                                </object>
                            </div>
                            <hr/>
                            <div class="tab-pane fade show" id="taskB-2-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item nav-item-pills">
                                        <a href="#zuckermittel" class="nav-link active" data-toggle="tab">Zuckergehalt - Mittel</a>
                                    </li>
                                    <li class="nav-item nav-item-pills">
                                        <a href="#zuckermittelloesungen" class="nav-link" data-toggle="tab">Lösung</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="zuckermittel"> 
                                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                                        <object data="Box2/Station2/Zuckergehal Mittel.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box2/Station2/Zuckergehal Mittel.pdf">Rätsel stattdessen herunterladen</a></p>
                                        </object>
                                    </div>
                                    <div class="tab-pane fade" id="zuckermittelloesungen">
                                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                                        <object data="Box2/Station2/Zuckergehalt Lösung Mittel.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box2/Station2/Zuckergehalt Lösung Mittel.pdf">Lösung stattdessen herunterladen</a></p>
                                        </object>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade show" id="taskC-2-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item nav-item-pills">
                                        <a href="#zuckerschwer" class="nav-link active" data-toggle="tab">Zuckergehalt - Schwer</a>
                                    </li>
                                    <li class="nav-item nav-item-pills">
                                        <a href="#zuckerschwerloesungen" class="nav-link" data-toggle="tab">Lösung</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="zuckerschwer"> 
                                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                                        <object data="Box2/Station2/Zuckergehalt schwer.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box2/Station2/Zuckergehalt schwer.pdf">Rätsel stattdessen herunterladen</a></p>
                                        </object>
                                    </div>
                                    <div class="tab-pane fade" id="zuckerschwerloesungen">
                                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                                        <object data="Box2/Station2/Zuckergehalt schwer Lösung.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box2/Station2/Zuckergehalt schwer Lösung.pdf">Lösung stattdessen herunterladen</a></p>
                                        </object>
                                    </div>
                                </div>
                            </div>
                        </div>           
                    </div>
                </div>
            </div> 
            <div class="tab-pane fade " id="list-station3-2" role="tabpanel" aria-labelledby="2">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-pills">
                            <li class="nav-item nav-item-pills">
                                <a href="#laufzettel3-2" class="nav-link active" data-toggle="tab">Laufzettel</a>
                            </li>
                            <li class="nav-item nav-item-pills">
                                <a href="#taskB-3-2" class="nav-link" data-toggle="tab">Aufgabe B</a>
                            </li>
                            <li class="nav-item nav-item-pills">
                                <a href="#taskC-3-2" class="nav-link" data-toggle="tab">Aufgabe C</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="laufzettel3-2"> 
                                <img class="img-responsive rounded mx-auto d-block middle" src="">
                                <object data="Box2/Station3/Aufgabe 3 - Laufzettel.pdf" width="875" height="1000">
                                    <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                    <p><a href="Box2/Station3/Aufgabe 3 - Laufzettel.pdf">Laufzettel stattdessen herunterladen</a></p>
                                </object>
                            </div>
                            <hr/>
                            <div class="tab-pane fade show" id="taskB-3-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item nav-item-pills">
                                        <a href="#memory" class="nav-link active" data-toggle="tab">Rezept Memory</a>
                                    </li>
                                    <li class="nav-item nav-item-pills">
                                        <a href="#memoryloesungen" class="nav-link" data-toggle="tab">Lösung</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="memory"> 
                                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                                        <object data="Box2/Station3/Memory_Rezept.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box2/Station3/Memory_Rezept.pdf">Memory stattdessen herunterladen</a></p>
                                        </object>
                                    </div>
                                    <div class="tab-pane fade" id="memoryloesungen">
                                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                                        <object data="Box2/Station3/Memory_Rezept_Lösung.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box2/Station3/Memory_Rezept_Lösung.pdf">Lösung stattdessen herunterladen</a></p>
                                        </object>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="taskC-3-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item nav-item-pills">
                                        <a href="#eigenesrezept" class="nav-link active" data-toggle="tab">Schreibe dein eigenes Rezept</a>
                                    </li>
                                    
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="eigenesrezept"> 
                                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                                        <object data="Box2/Station3/Schreibe_dein_eigenes_Rezept.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box2/Station3/Schreibe_dein_eigenes_Rezept.pdf">Datei stattdessen herunterladen</a></p>
                                        </object>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="bildquellen-3-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item nav-item-pills">
                                        <a href="#eigenesrezept" class="nav-link active" data-toggle="tab">Schreibe dein eigenes Rezept</a>
                                    </li>
                                    
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="eigenesrezept"> 
                                        <img class="img-responsive rounded mx-auto d-block middle" src="">
                                        <object data="Box2/Station3/Schreibe_dein_eigenes_Rezept.pdf" width="875" height="1000">
                                            <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                            <p><a href="Box2/Station3/Schreibe_dein_eigenes_Rezept.pdf">Datei stattdessen herunterladen</a></p>
                                        </object>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>