<div class="row" style="display: none;" id="box3">

    <div class="col-md-2 col-sm-12">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="1" data-toggle="list" href="#list-station1-3" role="tab" aria-controls="1">Station 1</a>
            
        </div>
    </div>
    <div class="col-md-10 col-sm-12">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-station1-3" role="tabpanel" aria-labelledby="1">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-pills">
                            <li class="nav-item nav-item-pills">
                                <a href="#laufzettel-3" class="nav-link active" data-toggle="tab">Laufzettel</a>
                            </li>
                            <li class="nav-item nav-item-pills">
                                <a href="#obst-a" class="nav-link" data-toggle="tab">Aufgabe A</a>
                            </li>
                            <li class="nav-item nav-item-pills">
                                <a href="#obst-b" class="nav-link" data-toggle="tab">Aufgabe B</a>
                            </li>
                            <li class="nav-item nav-item-pills">
                                <a href="#obst-c" class="nav-link" data-toggle="tab">Aufgabe C</a>
                            </li>
                            <li class="nav-item nav-item-pills">
                                <a href="#quellen-3" class="nav-link" data-toggle="tab">Bildquellen</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="laufzettel-3"> 
                                <img class="img-responsive rounded mx-auto d-block middle" src="">
                                <object data="Box3/Laufzettel.pdf" width="875" height="1000">
                                    <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                    <p><a href="Box3/Laufzettel.pdf">Laufzettel stattdessen herunterladen</a></p>
                                </object>
                            </div>
                            <div class="tab-pane fade" id="obst-a">
                                <img class="img-responsive rounded mx-auto d-block middle" src="">
                                <object data="Box3/A Obst.pdf" width="875" height="1000">
                                    <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                    <p><a href="Box3/A Obst.pdf">Bastelanleitung stattdessen herunterladen</a></p>
                                </object>
                            </div>
                            <div class="tab-pane fade" id="obst-b">
                                <img class="img-responsive rounded mx-auto d-block middle" src="">
                                <object data="Box3/B Obst.pdf" width="875" height="1000">
                                    <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                    <p><a href="Box3/B Obst.pdf">Bastelanleitung stattdessen herunterladen</a></p>
                                </object>
                            </div>
                            <div class="tab-pane fade" id="obst-c">
                                <img class="img-responsive rounded mx-auto d-block middle" src="">
                                <object data="Box3/C Obst.pdf" width="875" height="1000">
                                    <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                    <p><a href="Box3/C Obst.pdf">Bastelanleitung stattdessen herunterladen</a></p>
                                </object>
                            </div>
                            <div class="tab-pane fade" id="quellen-3">
                                <img class="img-responsive rounded mx-auto d-block middle" src="">
                                <object data="Box3/Bildquellen.pdf" width="875" height="1000">
                                    <p>Oops! Dieser Browser unterstützt die Anzeige von pdf-Dateien nicht.</p>
                                    <p><a href="Box3/Bildquellen.pdf">Bastelanleitung stattdessen herunterladen</a></p>
                                </object>
                            </div>
                        </div>           
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>